html
    head
        link(rel="stylesheet", href="css/master.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="/jquery.min.js")
    body
        block content